body {
  font-family: "Comic Sans MS", cursive;
  background-color: black;
  color: yellow;
  text-align: center;
}

#volume-control {
  position: relative;
  width: 300px;
  margin: auto;
  padding: 20px;
  background: #dd2772;
  border: 5px dashed red;

  display: flex;
  justify-content: center;
}

#volume-slider {
  width: 100%;
  opacity: 0;
}

#volume-slider:hover {
  opacity: 1;
}

#volume-level {
  display: block;
  color: blue;
  font-size: 30px;
  margin-top: 10px;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  20% {
    opacity: 0;
  }
}

@keyframes moveAndSpin {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(600px, 600px) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

#volume-control {
  position: absolute;
  /* Your other styles */
  animation: moveAndSpin 5s linear infinite;
}
