* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 10px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

article {
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.2)
    ),
    url(../ica/ica6/top-image.png) no-repeat left top,
    url(../ica/ica6/bottom-image.png) no-repeat left bottom;
  background-color: white;
}

h1 {
  background: url(../ica/ica6/logo.png);
  filter: drop-shadow(rgba(0, 0, 0, 0.8) 1em 1em 25px);
}
