/* index.css */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
  /*background-image: url(../img/purpleBlocks.png);*/
  background-size: 100%;
}

.logoContainer {
  position: relative;
  padding-top: 250px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 350px;
  height: auto;
  transition: filter 0.3s ease;
}

.logo:hover {
  filter: invert(100%);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

div.first,
div.second,
div.third,
div.fourth,
div.fifth,
div.sixth,
div.seventh,
div.eighth,
div.ninth {
  background-color: rgb(103, 47, 143);
  border-radius: 12px;
  padding: 30px;
  margin: auto;
  width: 90%;
  display: grid;
  gap: 30px;
}

div.first > :not(h3),
div.second > :not(h3),
div.third > :not(h3),
div.fourth > :not(h3),
div.fifth > :not(h3),
div.sixth > :not(h3),
div.seventh > :not(h3),
div.eighth > :not(h3),
div.ninth > :not(h3) {
  display: none;
}

div.first:hover > :not(h3),
div.second:hover > :not(h3),
div.third:hover > :not(h3),
div.fourth:hover > :not(h3),
div.fifth:hover > :not(h3),
div.sixth:hover > :not(h3),
div.seventh:hover > :not(h3),
div.eighth:hover > :not(h3),
div.ninth:hover > :not(h3) {
  display: block;
}

div.second,
div.third,
div.fourth,
div.fifth,
div.sixth,
div.seventh,
div.eighth,
div.ninth {
  cursor: pointer;
}

h3 {
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 1px;
}

h4 {
  color: #662d91;
  font-size: 1.2em;
  margin: 0;
  padding: 1px;
}

h5 {
  font-size: 1.1em;
  margin: 0;
  padding: 1px;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 1px;
}

.button {
  background-color: #daa520;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: white;
  color: rgb(103, 47, 143);
}

@media screen and (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
