h1 {
  color: #ede5d6;
  text-shadow: 2px 2px 8px #dd2772;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.5s ease;
}

body {
  width: 640px;
  margin: 0 auto;
  background-color: #040002;
}

.full-img {
  position: relative;
  display: block;
  width: 480px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0);
}

button {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  margin: auto;
  width: 15%;
  float: left;
  cursor: pointer;
}
