body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #040002;
}

h1 {
  color: #ede5d6;
  text-shadow: 2px 2px 8px #dd2772;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.5s ease;
}
nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  background-color: #dd2772;
  text-shadow: 4px 4px 6px #000000;
}
nav a {
  width: 10vw;
  text-align: center;
  text-decoration: none;
  color: #ede5d6;
  transition: transform 0.5s ease;
}

img {
  width: 30%;
}

#red-ball {
  border: 20px solid #dd2772;
  border-radius: 50%;
  position: fixed;
  left: 5vw;
  top: 15px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

h1:hover {
  transform: scale(2);
}

a:hover {
  transform: scale(1.5);
}
